.pass {
  border: 1px solid red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field {
  padding: 4px 50px 4px 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

.eye {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  right: 5px;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

.clearWithEye {
  right: 30px;
}

.btn {
  border: none;
  background-color: transparent;
}
